<h2>Recommend to:</h2>

<%= form_tag recommendations_path do %>
    <table class="table table-bordered">
        <% @user.friends.each do |friend| %>
            <tr>
                <td><%= check_box_tag "friend-#{friend.id}", friend.id %></td>
                <td><%= label_tag "friend-#{friend.id}", friend.email %></td>
            </tr>
        <% end %>
    </table>
    <%= hidden_field_tag 'rottentomatoes_id', params[:id] %>
    <%= submit_tag 'Submit', class: 'btn btn-success' %>
<% end %>
