<h1><%= @movie.title %> (<%= @movie.mpaa_rating %>) &mdash; <%= @movie.year %></h1>

<table class="table table-bordered">
    <tr>
        <th colspan="2">Ratings</th>
    </tr>
    <tr>
        <td>Critic&apos;s Score</td>
        <td><%= @movie.critics_score %></td>
    </tr>
    <tr>
        <td>Audience Score</td>
        <td><%= @movie.audience_score %></td>
    </tr>
</table>

<h2>Your Rating</h2>
<%= render 'rating_form' %>
<%= render 'recommendation_form' %>
