<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <tr>
        <td><%= @user.user_profile && @user.user_profile_name %></td>
        <td><%= @user.email %></td>
    </tr>
</table>

<% if current_user.currently_friends_with?(@user) %>
    <%= link_to 'Unfriend', unfriend_path(@user), method: :delete, class: 'btn btn-danger' %>
<% else %>
    <%= link_to 'Friend', friend_path(@user), method: :post, class: 'btn btn-success' %>
<% end %>

<% if @user.user_profile && @user.user_profile_show_ratings %>
    <%= render partial: 'ratings' %>
<% end %>
