<h1>Friends</h1>
<ul>
    <% @user.friendships.current.each do |friendship| %>
        <li><%= link_to friendship.friend_email, friendship.friend %></li>
    <% end %>
</ul>

<h1>Pending Friends</h1>
<ul>
    <% @user.friendships.pending.each do |friendship| %>
        <li><%= link_to friendship.friend_email, friendship.friend %></li>
    <% end %>
</ul>

<h1>Ratings</h1>
<ul>
    <% @user.ratings.each do |rating| %>
        <li>
            <p class="rottentomatoes">
                <%= link_to rating.movie_title, movie_path(rating.movie.rottentomatoes_id) %>
            </p>
            <p class="rating">
                <%= rating.rating %>
            </p>
        </li>

    <% end %>
</ul>

<h1>Recommended For You</h1>
<ul>
    <% @user.recommendations.each do |recommendation| %>
        <li>
            <p class="rottentomatoes">
                <%= link_to recommendation.movie_title, movie_path(recommendation.movie.rottentomatoes_id) %>
            </p>
            <p class="recommender">
                by: <%= link_to recommendation.recommender.email, recommendation.recommender %>
            </p>
            <p class="delete">
                <%= link_to 'Delete', recommendation, method: :delete %>
            </p>
        </li>
    <% end %>
</ul>

<h1>You Recommended</h1>
<ul>
    <% @user.recommended.each do |recommendation| %>
        <li>
            <p class="rottentomatoes">
                <%= link_to recommendation.movie_title, movie_path(recommendation.movie.rottentomatoes_id) %>
            </p>
            <p class="recommendee">
                to: <%= link_to recommendation.recommendee.email, recommendation.recommendee %>
            </p>
            <p class="delete">
                <%= link_to 'Delete', recommendation, method: :delete %>
            </p>
        </li>
    <% end %>
</ul>
